@font-face {
    font-family: 'Jacques Francois Shadow';
    src: url('../font/JacquesFrancoisShadow-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../font/Merriweather_24pt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../font/Merriweather_24pt-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom,
            #820000 0%,
            #000000 54%,
            #000000 100%);
    background-attachment: fixed;
}

.layout {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}

nav {
    background: linear-gradient(to bottom, rgb(0 0 0 / 50%) 50%, rgb(0 0 0 / 0%) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    padding: 10px;

    a {
        font-family: 'Merriweather';
        font-size: 0.91rem;
        text-decoration: none;
        padding: 8px 40px 8px 0px;
    }
}

.home {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

a,
h1,
h2,
h3,
h4,
li,
p {
    color: white;
}

h1,
h2 {
    font-family: 'Jacques Francois Shadow', serif;
    font-weight: 100;
    text-align: center;
}

h4 {
    font-family: 'Merriweather';
    font-size: 1rem;
}

h1 {
    margin-top: 5.5rem;
}

.more-info {
    color: black;
    background-color: white;
    font-family: 'Merriweather';
    font-size: 0.91rem;
    text-decoration: none;
    border-radius: 1.875rem;
    display: block;
    width: 240px;
    height: auto;
    margin: 50px auto 80px;
    padding: 8px;
    text-align: center;
}

.product {
    box-shadow: 0 4px 6px rgb(255 255 255 / 10%);
    border-radius: 1.875rem;
    width: 250px;
    height: 300px;
    display: inline-block;
    margin: 25px 20px;

    position: relative;
    overflow: hidden;
}

.name {
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgb(0 0 0 / 75%) 50%, rgb(0 0 0 / 0%) 100%);
    border-radius: 0 0 1.875rem 1.875rem;
}

h3 {
    margin: 30px 10px 5px;
    font-family: 'Merriweather';
    font-size: 1rem;
}

p {
    margin: 0 10px 10px;
    font-family: 'Merriweather';
    font-size: 0.875rem;
}

.hero {
    box-shadow: 0 4px 6px rgb(255 255 255 / 10%);
    border-radius: 1.875rem;
    width: 100%;
    height: 300px;
    display: inline-block;
    margin-top: 5.5rem;

    position: relative;
    overflow: hidden;

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    .desc {
        font-size: 0.875rem;
        line-height: 1.4;
        margin-top: 20px;
    }
}

.intro {
    width: 50%;
    height: 100%;
    padding: 0 50px 0 10px;
    position: absolute;
    background: linear-gradient(to right, rgb(0 0 0 / 75%) 90%, rgb(0 0 0 / 0%) 100%);
}

img {
    width: 100%;
    height: 100%;
    border-radius: 1.875rem;
    object-fit: cover;
}

li {
    font-family: 'Merriweather';
    font-size: 0.875rem;
    margin-bottom: 5px;
}

hr {
    margin: 100px auto;
}

h4~p {
    line-height: 1.6;
}

.search {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

.search-bar {
    background-color: white;
    border-radius: 1.875rem;
    max-width: 650px;
    height: auto;
    margin: 5.5rem auto 0.625rem;
    padding: 8px;
    display: flex;
    align-items: center;

    img {
        width: 5%;
        height: auto;
    }

    input {
        font-family: 'Merriweather';
        font-size: 0.875rem;
        width: 36.25rem;
        border: none;
        outline: none;
        background: transparent;
        padding-top: 4px;
        transition: border-color 0.3s ease;
    }
}

.filter {
    background-color: white;
    border-radius: 1.875rem;
    display: block;
    max-width: 650px;
    height: auto;
    margin: 10px auto;
    padding: 8px;

    p {
        margin-top: 7px;
        color: black;
    }

    input {
        display: none;
    }

    span {
        font-family: 'Merriweather';
        font-size: 0.91rem;
        line-height: 1.1;
        display: inline-block;
        padding: 6px 15px;
        margin: 5px 1px;
        border: 1px solid #820000;
        border-radius: 1.875rem;
        cursor: pointer;
        transition: 0.2s ease;

    }

    input[type="radio"]:checked+span {
        background-color: #820000;
        color: white;
    }
}

button {
    background-color: white;
    border-radius: 1.875rem;
    font-family: 'Merriweather';
    font-size: 0.91rem;
    display: block;
    width: 140px;
    height: auto;
    margin: 50px auto 80px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}

.no-results {
    background-color: #393939;
    border-radius: 1.875rem;
    max-width: 650px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    h3 {
        margin: 10px auto;
        color: #ffffff;
        font-weight: 600;
        letter-spacing: 1px;
    }

    p {
        color: white;
    }
}

.guide {
    line-height: 1.5;
}

@media screen and (max-width: 810px) {
    .layout {
        margin: 0 10px;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 100%;
        height: auto;
        max-width: 400px;
        margin: 25px;
    }

    .intro {
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    span {
        width: 100%;
    }
}